
*.dat
*.txt
*.gif
*.pdf
*.root
Data/ComptonEdge_Co.dat~
Figures/.DS_Store
old/AnalyzeADC.py
old/AnalyzeComptonEdge.py
old/AnalyzePGA.py
old/AnalyzeWaveform.py
old/CalcTriggerRate.py
old/CreateWaveformRoot.py
old/minimal.py
old/PlotPeakHeight.py
old/PlotTailRatio.py
old/PlotTriggerRate.py
old/Waveform2PeakCheck.py
references/root_make_tree.cc
